<p>@TempData["Message"]</p>
<form asp-action="SendMail" method="post">
    <input name="mailTo" placeholder="Mail To"/>
    <input name="message" placeholder="Message"/>
    <button>Send</button>
</form>