@model ASP.NET_VSCode.Models.Match 

@{
    ViewData["Title"] = ViewData["match"];   
}

<style>

    .match-item{
        text-decoration: none;
        color: #000;
        display: flex;
        gap: 12px;
    }
    .team,.score{
        width: 120px;
       
    }
</style>
<div  class="match-item">
    <div class="team">
        <span>
            @Model.Team_1.Name
        </span>
    </div>
    <div class="score">
        @Model.Score[0] - @Model.Score[1]
    </div>
    <div class="team">
        <span>@Model.Team_2.Name</span>
    </div>
</div>
